@media only screen and (max-width: 764px) {
    .mb-standart {
        margin-bottom: 15px !important;
    }
    .nav-link{
        text-align: center !important;
    }
    .nav-item {
        margin-bottom: 10px;
    }
    .banner {
        height: 450px !important;
    }
    .about {
        height: 450px !important;
    }
    .about-paragraph {
        width: 80% !important;
    }
    .skills {
        height: 390px !important;
    }
    .numbers {
        height: 280px !important;
    }
    .numbers-height {
        height: 50% !important;
    }
    .work-panels {
        height: 1200px !important;
    }
    .work-panel {
        height: 25% !important;
    }
    .work-process {
        height: 500px !important;
    }
    .work-proc-title {
        padding-top: 40px !important;
    }
    .services {
        height: 800px !important;
    }
    .testimonials {
        height: 340px !important;
    }
    .caption {
        padding-top: 100px !important;
    }
    .clients {
        height: 400px !important;
    }
    .client-logo {
        padding: 15px !important;
    }
    .need-project {
        height: 630px !important;
    }
    .form-row > .mb-3 {
        margin-bottom: 5px !important;
    }
    .faq {
        min-height: 100px !important;
    }
    .faqsec button {
        padding: 20px 32px 20px 32px;
    }
    footer {
        height: 370px !important;
    }
}
@media only screen and (min-width: 765px) and (max-width: 991px) {
    .work-process {
        height: 800px !important;
    }
}
@media only screen and (max-width: 991px) {
    .nav-link{
        text-align: center !important;
    }
    .nav-item {
        margin-bottom: 10px;
    }
    .fixed-top {
        background-color: rgba(255, 255, 255, 0.938) !important;
    }
}
body {
    background-color: white !important;
}
.uppercase {
    text-transform: uppercase;
}
.title-brand {
    padding-top: 3px;
    font-family: 'Abril Fatface', sans-serif;
    font-size: 30px;
}
.navbar-toggler {
    border: none !important;
}
.nav-link {
    text-transform: uppercase;
    color: black !important;
    font-size: 11px;
    margin-right: 31px;
    padding: 0px 0px 0px 0px !important;
}
.nav-link:hover {
    color: #888888 !important;
}
.active {
    color: #10c9c3 !important;
}
.active a {
    color:#10c9c3 !important;
}
.active:hover {
    color: #10c9c3 !important;
}
.btn {
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    padding: 24px 47px 24px 47px;
    border: #10c9c3;
    border-radius: 2%;
    background-color: #10c9c3;
}
.btn:hover {
    background-color: #13e6de;
    color: white;
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn:active:focus {
    outline: none !important;
    box-shadow: none !important;
}
.btn a {
    color: white;
    text-decoration: none;
}
.navbar-brand {
    height: 50px;
    width: 50px;
    padding: 0px !important;
}
.fixed-top.scrolled {
    background-color: rgba(255, 255, 255, 0.938) !important;
    transition: background-color 200ms linear;
}
.img-responsive {
    height: 100%;
}
.background-image-banner {
    background-image: url('assets/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner {
    height: 608px;
    padding-top: 173px;
    background-color: #e9e9e97e;
}
.mb-standart {
    margin-bottom: 42px;
}
.mb-small {
    margin-bottom: 21px;
}
.about {
    height: 420px;
    text-align: center;
    background-color: white;
}
.about-paragraph {
    width: 60%;
}
.skills {
    height: 570px;
}
.progress-bar {
    background-color: #10c9c3;
}
.progress {
    background-color: #d8d8d8;
    height: 4px;
    margin-bottom: 41px;
}
/*
Backgroud color-scheme
 */
.bg-darkestgrey {
    background-color: #838383;
}
.bg-darkergrey {
    background-color: #dddddd;
}
.bg-darkgrey {
    background-color: #e9e9e9;
}
.bd-lightgrey {
    background-color: #f8f9f9;
}
.skills-left {
    padding-left: 10%;
    padding-right: 10%;
}
.numbers {
    height: 140px;
    background-color: #10c9c3;
    color: white;
}
.numbers-height {
    height: 100%;
}
.far {
    font-size: 43px;
}
.fas {
    font-size: 43px;
}
.small-font {
    font-size: 12px;
}
.work-panels {
    height: 599px;
    position: relative;
}
.work-panel:hover {
    background-color: #252525 !important;
    cursor: pointer;
}
.eye {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: 120px;
    color: white;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
}
.eye i {
    display: none;
}
.eye:hover i {
    display: block;
}
.work-panel i:hover {
    display: inline;
}
.work-load {
    height: 100px;
    background-color: #f5f5f5;
    color: #959595;
    padding-top: 41px;
    text-align: center;
}
.work-load:hover {
    cursor: pointer;
}
.work-process {
    height: 1000px;
    background-color: white;
}
.work-proc-title {
    padding-top: 100px;
    text-align: center;
}
.services {
    height: 535px;
    background-color: #f5f5f5;
}
.services-panel {
    text-align: center;
}
.services-panel .small-font {
    color: #787878;
}
.services-panel i {
    color: #787878;
}
.testimonials {
    height: 500px;
}
.carousel-inner {
    background-color: #10c9c371;
}
.caption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    z-index: 100;
    color: white;
    text-align: center;
}
.carousel-indicators li{
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    margin: 10px;
    vertical-align: middle;
}
.carousel-indicators li.active {
    width: 13px !important;
    height: 13px !important;
}
.clients {
    height: 200px;
    background-color: white;
}
.client-logo {
    padding: 2px;
}
.need-project {
    height: 750px;
    background-color: #f5f5f5;
}
.need-project p {
    color: #787878;
}
form input {
    border: none !important;
    border-radius: 0% !important;
}
form textarea {
    border: none !important;
    border-radius: 0% !important;
}
.faq {
    min-height: 400px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.faqsec {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}
.faqsec button{
    display: inline;
    color: white;
    width: 100%;
    margin-top: 10px;
    z-index: 2;
}
.faqsec button i {
    font-size: 13px;
    padding-left: 9px;
}
.faqsec div {
    background-color: #f5f5f5;
    transition: height 350ms !important;
    z-index: 1;
}
.faqsec div p {
    padding: 10px 15px 10px 15px;
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -10;
}
  /* Add some content at the bottom of the video/page */
.vidcontent {
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
} 
footer {
    height: 284px;
    background-color: #141414; 
}
